---
import Layout from '../layouts/Layout.astro';
import { getBlogs } from '../lib/microcms';

// データの取得（エンドポイント photos はそのまま活かします）
const response = await getBlogs();
---

<Layout title="My Photo Blog">
	<main>
		<h1>My Photo Blog</h1>
		<ul class="post-list">
			{
				response.contents.map((content: any) => (
					<li class="post-item">
						<a href={`/posts/${content.id}`} class="post-link">
							{content.title}
						</a>
					</li>
				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #333;
	}
	h1 {
		font-size: 2.5rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 2em;
	}
	.post-list {
		list-style: none;
		padding: 0;
	}
	.post-item {
		padding: 1rem;
		border-bottom: 1px solid #eee;
	}
	.post-link {
		color: #0070f3;
		text-decoration: none;
		font-weight: bold;
		font-size: 1.2rem;
	}
	.post-link:hover {
		text-decoration: underline;
	}
</style>